@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Rubik', sans-serif;
    cursor: pointer auto;
}

.nav_dav_div {
    display: flex;
    margin-top: 10px;
    margin-left: 180px;

}

.list_items {
    display: flex;
    gap: 60px;
}

.davlatlar {
    width: 60px;
    height: 30px;
    margin-left: 35px;
    border-color: #7421B0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    border-radius: 6px;
}

.davlatlar:hover {
    box-shadow: 1px 1px 20px #975dc1ce;
}

.nav_1 {
    margin-top: 50px;
}

.list {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #565656;
    margin-top: 3px;
}

.logo_1 {
    width: 250px;
    height: 39px;
    margin-left: -40px;
}

.sarlavha_1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #131313;
}

.sozchalar_1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
    margin-top: 39px;
}

.btn_1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
    border-radius: 5px;
    border: none;
    padding: 23px 41px;
    margin-top: 70px;
}

.tex_div_1 {
    text-align: start;
}

.nav_2 {
    margin-top: 190px;
}

.sarlavha_1 span {
    background: url(./img/text_pushti.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8px;
    padding-right: 11px;
}

.rasmlar_div {
    background: url(./img/pushti.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    height: 680px;
    margin-left: 45.44%;
    margin-top: -18.5%;
    margin-bottom: 91.68%;
    border-radius: 70px;
}

.rasm_1 {
    width: 748px;
    height: 377px;
    margin-left: 16.78%;
    margin-right: 5.05%;
    margin-top: -316.31%;
}

.tex_1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    text-align: start;
    background: rgba(196, 196, 196, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: none;
    margin-top: -137%;
    margin-left: 360px;
    padding: 28px 50px;
    width: 282px;
}

.a:hover {
    color: #7421B0;
    transform: 1s;
    text-shadow: 3px 1px 25px #893bc1c0;
}

.strel {
    margin-top: 120px;
    margin-left: -480px;
}

.btn_1:hover {
    box-shadow: 1px 3px 30px #8435bd;
}

.sarlavha_2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
    text-align: start;
}

.sarlavha_2 span {
    color: #7421B0;
}

.sozchalar_2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
    text-align: start;
    margin-left: 100px;
    width: 571px;
}

.sozchalar_2 span {
    font-weight: 500;
    color: #131313;

}

.header_1 {
    margin-top: 290px;
}

.text_rasm_div_1 {
    width: 338px;
    height: 294px;
    background: #ffffff;
    box-shadow: 0px 26px 48px -23px #7421B0;
    border-radius: 10px;
    color: black;
}

.text_rasm_div_1:hover {
    background: #7421B0;
    transition: 1s;
    color: #FFFFFF;

}


.kursor {
    margin-top: 50px;
    margin-left: -120px;
}

/* .kursor:hover{
    
} */



.sozcha {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-align: start;
    margin-top: 40px;
    margin-left: 60px;
}



.katta_div_1 {
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

.oq_div {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 153px 303px 185px 304px;
    box-shadow: 0px 18px 45px 30px rgba(0, 0, 0, 0.13);
    width: 705px;
    height: 397px;
    margin-top: 119px;
    margin-left: 322px;
}

.shafof_div {
    background: linear-gradient(90deg, rgba(255, 89, 248, 0.04) 0%, rgba(174, 114, 255, 0.04) 19.79%, rgba(144, 233, 237, 0.04) 40.62%, rgba(92, 209, 103, 0.04) 61.98%, rgba(255, 238, 0, 0.04) 82.53%);
    border: 3px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    border-radius: 70px;
    width: 903px;
    height: 650px;
    margin-left: -390px;
}

.section1 {
    margin-top: 270px;
}

.sarlavha1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
}

.text_div1 {
    text-align: start;
    margin-top: 200px;
}

.sozchalar1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #828282;
    margin-top: 40px;
}

.sozchalar1 span {
    color: #7421B0;
}

.text_div2 {
    text-align: start;
}

.sarlavha2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
}

.sozchalar2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #828282;
}

.sozchalar2 span {
    color: #7421B0;
}

.oq_div2 {
    background: #FFFFFF;
    box-shadow: 0px 18px 45px 25px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    padding: 169px 303px;
    width: 705px;
    height: 397px;
    margin-top: 310px;
    margin-left: -100px;
}

.shafof2 {
    background: linear-gradient(97.02deg, rgba(116, 33, 176, 0.2) 0%, rgba(208, 142, 255, 0.2) 64.38%);
    border: 3px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    width: 900px;
    height: 805.13px;
    margin-top: -400px;
    margin-left: 100px;
    border-radius: 10000px 5500px 1000% 7000px;
}

.section2 {
    margin-top: 287px;
}

.oq_div3 {
    width: 705px;
    height: 397px;
    background: #FFFFFF;
    box-shadow: 0px 18px 45px 30px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    padding: 169px 303px;
    margin-top: 140px;
    margin-left: 330px;
}

.shafof3 {
    background: linear-gradient(90deg, rgba(255, 89, 248, 0.04) 0%, rgba(174, 114, 255, 0.04) 19.79%, rgba(144, 233, 237, 0.04) 40.62%, rgba(92, 209, 103, 0.04) 61.98%, rgba(255, 238, 0, 0.04) 82.53%);
    border: 3px solid rgba(255, 255, 255, 0.078);
    backdrop-filter: blur(20px);
    width: 1034px;
    height: 811px;
    border-radius: 1500px 2000px 2600px 1800px;
    margin-left: -400px;
}

.text2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #828282;
    background: rgba(196, 196, 196, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 16px;
    padding: 30px 40px;
    width: 450px;
    margin-left: 450px;
    margin-top: -40px;
}

.text2 span {
    color: #131313;
}

.section3 {
    margin-top: 150px;
}

.sarlavha4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
}

.text3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #828282;
}

.text_div3 {
    margin-top: 240px;
}

.sarlavha4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
}

.sozcha4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #828282;
}

.sozcha4 span {
    color: #7421B0;
}

.section4 {
    margin-top: 110px;
}

.shafof4 {
    background: linear-gradient(97.02deg, rgba(116, 33, 176, 0.2) 28.9%, rgba(208, 142, 255, 0.2) 139.98%);
    border: 3px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    border-radius: 70px;
    width: 920px;
    height: 650px;
    margin-top: -200px;
    margin-left: 150px;
}

.oq_div4 {
    background: #FFFFFF;
    box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    width: 705px;
    height: 397px;
    padding: 169px 303px;
    margin-top: 130px;
    margin-left: -150px;
}

.text1 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 52px;
}

.icon3 {
    width: 80px;
    height: 80px;
}


.text_img_div2 {
    width: 538px;
    height: 320px;
    padding: 60px 64px 60px 45px;
    background: #FFFFFF;
    box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.785);
    border-radius: 10px;
    color: #131313;
}

.text_img_div2:hover {
    background: #7421B0;
    color: #ffffff;
    transition: 1s;
}


.katta_div_2 {
    display: flex;
    gap: 30px;
}

.section5 {
    margin-top: 200px;
}

.btn3 {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: #131313;
    border-radius: 5px;
    padding: 23px 41px;
}

.btn_div3 {
    text-align: center;
    margin-top: 90px;
}

.sarlavha5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #131313;
    margin-top: 100px;
    text-align: start;
}

.sarlavha5 span {
    color: #7421B0;
}

.section6 {
    margin-top: 100px;
}

.rasm2 {
    width: 111px;
    height: 111px;
}

.son_text_div {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 59px;
    margin-bottom: 70px;
}

.son2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #7421B0;
}

.text5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #131313;
}

.text6 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #828282;
}

.katta_div3 {
    margin-top: 100px;
}

.btn5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 23px 41px;
    background: linear-gradient(97.02deg, #7421B0 28.9%, #D08EFF 139.98%);
    border-radius: 10px;
    border: none;
}

.btn5:hover {
    box-shadow: 0px 12px 56px 3px rgba(116, 33, 176, 0.48);
}

.oq_div5 {
    padding: 68px 113px 62px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.265);
    border-radius: 10px;
    margin-top: 60px;
}

.sarlavha9 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
    margin-top: 200px;
    margin-bottom: 100px;
}

.sarlavha9 span {
    color: #7421B0;
}

.sarlavha10 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #7421B0;
}

.text7 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 180%;
    color: #7421b0d4;
    opacity: 0.3;

}

.oq_div6 {
    background: #FFFFFF;
    box-shadow: 0px 18px 45px -10px rgba(0, 0, 0, 0.265);
    border-radius: 10px;
    padding: 86px 113px 66px;
    margin-top: 60px;
}

.soz4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #7421B0;
    margin-top: 40px;
}

.soz4 span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #828282;
    margin-top: 40px;
}

.uch {
    margin-bottom: 60px;
}

.section6 {
    background: linear-gradient(1.36deg, rgba(255, 255, 255, 0.5) 0.92%, rgba(255, 255, 255, 0) 61.36%), linear-gradient(123.35deg, rgba(235, 243, 208, 0.05) 0%, rgba(235, 243, 208, 0) 18.4%), radial-gradient(29.9% 70.94% at 44.25% 86.96%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(33.83% 53.57% at 35.87% 100%, rgba(220, 141, 220, 0.05) 0%, rgba(220, 141, 220, 0) 100%), radial-gradient(42.66% 49.72% at 45.56% 44.65%, rgba(203, 173, 235, 0.05) 0%, rgba(194, 166, 241, 0) 100%), linear-gradient(134.59deg, rgba(205, 249, 232, 0.05) 20.63%, rgba(205, 249, 232, 0) 47.84%), linear-gradient(216.44deg, rgba(192, 169, 240, 0) -16.52%, rgba(192, 169, 240, 0.05) -1.04%, rgba(192, 169, 240, 0) 16.99%), linear-gradient(128.53deg, rgba(192, 169, 240, 0) 28.63%, rgba(192, 169, 240, 0.05) 38.5%, rgba(192, 169, 240, 0) 50.26%), radial-gradient(40.75% 97.37% at 90.75% 40.15%, rgba(255, 253, 177, 0.05) 0%, rgba(254, 228, 191, 0.05) 34.46%, rgba(240, 189, 208, 0.05) 69.5%, rgba(255, 129, 38, 0) 100%), rgba(194, 166, 241, 0.05);
    border: 4px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    border-radius: 70px;
}

.text8 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828282;
}

.shafov_div2 {
    background: rgba(196, 196, 196, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 16px 24px 0px 55px;
}

.section7 {
    margin-top: 230px;
}

.sarlavha11 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #131313;
    margin-top: 34px;

}

.sarlavha11 span {
    color: #7421B0;
}

.text9 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #828282;
    margin-top: 34px;
}

